<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Game:</strong>
  <%= @comment.game %>
</p>

<p>
  <strong>Comment time:</strong>
  <%= @comment.comment_time %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @comment.rank %>
</p>

<p>
  <strong>Team:</strong>
  <%= @comment.team %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
