<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @game.schedule %>
</p>

<p>
  <strong>Team 1:</strong>
  <%= @game.team_1 %>
</p>

<p>
  <strong>Team 2:</strong>
  <%= @game.team_2 %>
</p>

<p>
  <strong>Comments:</strong>
  <% @comments.each do |comment| %>
    <p><%= comment.author %> | Team: <%= comment.team %> | <%= comment.rank %></p>
    <p><%= comment.comment_time %></p>
    <p><%= comment.body %></p>
  <% end %>
</p>

<strong>Add a comment:</strong>
<%= form_for([@game, @game.comments.build]) do |f| %>
 <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :comment_time %><br>
    <%= f.datetime_select :comment_time %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> | 
